<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>792878218563-lf6c94qqhfn5c1hg3ntupkslk9m5r2f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792878218563-lf6c94qqhfn5c1hg3ntupkslk9m5r2f1</string>
	<key>API_KEY</key>
	<string>AIzaSyCeJ92iHeGEeH7IIRS6oZ-MeHoERG0FMgU</string>
	<key>GCM_SENDER_ID</key>
	<string>792878218563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikolailindholm.Flash-chat</string>
	<key>PROJECT_ID</key>
	<string>chatter-c330c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-c330c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792878218563:ios:fd1ef6d854128dc8</string>
	<key>DATABASE_URL</key>
	<string>https://chatter-c330c.firebaseio.com</string>
</dict>
</plist>